[submodule "MoVC_MoCP_Integration"]
	path = MoVC_MoCP_Integration
	url = /Users/V072652/a/Projects/MoJS/code/web-app/MoJS/MoVC_MoCP_Integration
[submodule "MoVC"]
	path = MoVC
	url = /Users/V072652/a/Projects/MoJS/code/web-app/MoJS/MoVC
[submodule "MoEV"]
	path = MoEV
	url = /Users/V072652/a/Projects/MoJS/code/web-app/MoJS/MoEV
[submodule "MoCP"]
	path = MoCP
	url = /Users/V072652/a/Projects/MoJS/code/web-app/MoJS/MoCP
[submodule "MoQR"]
	path = MoQR
	url = /Users/V072652/a/Projects/MoJS/code/web-app/MoJS/MoQR
